.chat-list {
  height: 100%; /* Or set max-height if needed, like 500px */
  overflow-y: auto;
  padding-right: 5px; /* Optional: Avoid text being hidden behind scrollbar */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(136, 136, 136, 0.5) transparent;
}

/* WebKit Browsers */
.chat-list::-webkit-scrollbar {
  width: 10px;
}

.chat-list::-webkit-scrollbar-track {
  background: transparent; /* fully transparent track */
}

.chat-list::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.4); /* semi-transparent grey */
  border-radius: 10px;
  border: 2px solid transparent; /* gives inner padding-like look */
  background-clip: content-box; /* ensures the border stays transparent */
}

.chat-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.6);
}


.outer-user-container{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.outer-user-container .user-avatar{
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.user-info{
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}

.left-user-list{
    display: flex;
}

.user-info span:first-child {
    font-weight: 600; /* name */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-info span:last-child {
    font-weight: 400; /* lighter message */
    font-size: 0.9rem;
    color: #cbbdbd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-time {
    padding-left: 0.5rem;
    white-space: nowrap;
    font-size: 0.75rem;
    color: #888;
}